<!DCTYPE html>
<html>
<head>
  <title>sinatra world</title>
    <meta charset='utf-8'/>
    <link rel="stylesheet" type="text/css" href="./../stylesheets/main.css" />
</head>
<body>
    <div>
      <h1>welocome to sinatra world</h1>
      <%= yield %>
    </div>
  </body>
</html>
