<form action='/posts' method= 'POST'>
  <label for='title'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title:</label>
  <input name='title' value='' /></br></br>
  <label for='date'>content:</label>
  <input name='content'  value='' /></br></br>
  <input type='submit' value="submit" />
 </form>
